<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <!-- Configurar botones
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
      <i class="bi-calendar3"></i>
      This week
    </button>
    -->
  </div>
</div>

<h2>Listado de empresas</h2>
<div class="table-responsive small">
  <table class="table table-sm table-hover">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Encargado</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Edumark</td>
        <td>Jose Roberto Almada Orozco</td>
        <td>JoseAlmada@gmail.com</td>
        <td>9846548256</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm me-1">
            <i class="bi-person-vcard"></i>
          </button>
          <button type="button" class="btn btn-warning btn-sm me-1">
            <i class="bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <i class="bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Edumark</td>
        <td>Angel Diaz Perez</td>
        <td>AngelPerez@gmail.com</td>
        <td>9846548256</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm me-1">
            <i class="bi-person-vcard"></i>
          </button>
          <button type="button" class="btn btn-warning btn-sm me-1">
            <i class="bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <i class="bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>